.project_card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.projects_icons{
    padding-left: 190px;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 550px){
    .project_card{
        width: 300px !important;
    }
}

@media (max-width: 750px){
    .project_card{
        width: 380px;
        margin-top: 20px;
    }
}