.App{
    height: fit-content !important;
    width: 100vw;
    background-color: var(--gray);
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray);
    background-image: var(--lightDarkBg);
}